<div class="content-container">

  <div class="content-box">
    <div class="content-title">I Love My Mommy</div>

    <div class="content-main">
      <br>
      My Mommy is hypnotic<br>
      Her power is so much<br>
      She makes me happy everyday<br>
      I worship her<br>
      Her beautiful body<br>
      Her hypnotic breasts<br>
      She is caring and attentive<br>
      I wish her the best<br>
      I truly am thankful for her<br>
      She truly is the best<br>XXXXXX
      <br>

    </div>
  </div>


</div>